<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kason.mianshiya.mapper.QuestionBankMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.kason.mianshiya.model.entity.QuestionBank">
        <id column="id" property="id" />
        <result column="title" property="title" />
        <result column="description" property="description" />
        <result column="picture" property="picture" />
        <result column="userId" property="userId" />
        <result column="editTime" property="editTime" />
        <result column="createTime" property="createTime" />
        <result column="updateTime" property="updateTime" />
        <result column="isDelete" property="isDelete" />
        <result column="reviewStatus" property="reviewStatus" />
        <result column="reviewMessage" property="reviewMessage" />
        <result column="reviewerId" property="reviewerId" />
        <result column="reviewTime" property="reviewTime" />
        <result column="priority" property="priority" />
        <result column="viewNum" property="viewNum" />
    </resultMap>

</mapper>
